@font-face {
	font-family: Heading;
	src: url('/assets/fonts/heading.woff2') format("woff2");
}
@font-face {
	font-family: Body;
	src: url('/assets/fonts/body.woff2') format("woff2");
}

body {
	font-family: Body, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 75;
	line-height: 1.25;
}

h1,
h2,
h3 {
	font-family: Heading;
}

h1 {
	font-size: 2.3331rem;
}

h2 {
	font-size: 1.75rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
	font-weight: 590;
}

a,
address,
ol,
p,
table,
ul {
	font-size: 1.5rem;
}

strong {
	font-weight: 150;
}

a {
	text-underline-offset: 2px;
}

address {
	font-style: inherit;
}

.emoji {
	font-size: 1rem;
}