@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Fira+Sans&family=Spectral&display=swap");

html {
  background: #000000 url("/bg.jpg") no-repeat fixed center;
  background-size: cover;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65) 0%, #000000 100vh);
  color: #ffffff;
  font-family: "Fira Sans";
}

#gallery > img {
  filter: grayscale(100%);
}

.font-cinzel-decorative {
  font-family: "Cinzel Decorative";
}
.font-spectral {
  font-family: "Spectral";
}

.flipper {
  /* transform: scale(1, 1); */
}
.flipper-flipping {
  /* transform: rotateY(90deg); */
}
